body {
    margin: 50px auto;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

header h1 {
    font-family: 'Macondo', cursive;
    font-size: 36px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

#dif {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#difficulty {
    margin: 15px;
    width: 50px;
}

button {
    margin-bottom: 15px;
    padding: 5px;
    background: linear-gradient(90deg, purple 0%, violet 100%);
    border: none;
    border-radius: 30px;
    font-size: 16px;
    padding: 20px 40px;
}

button:hover {
    animation: gradient 2.5s infinite 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) forwards;
}

#current {
    margin-top: 15px;
    margin-bottom: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#current h3 {
    margin-right: 10px;
}

#towers {
    display: flex;
    flex-direction: column;
}

#tower1, #tower2, #tower3{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 7px solid black;
    margin: 0 15px 15px 15px;
    width: 250px;
    height: 250px;
}

.stick1, .stick2, .stick3 {
    background-color: black;
    width: 7px;
    position: absolute;
    z-index: -1;
}

.victoryMsg {
    position: absolute;
    z-index: 1;
    background: linear-gradient( 90deg , purple, violet, red, orange, yellow, green, blue);
    height: 40%;
    width: 80%;
    margin-top: 100px;
    border-radius: 50px;
    border: solid 2px black;
    padding: 15px;
}

.victoryMsg p {
    font-family: 'Macondo', cursive;
    font-size: 25px;
    text-align: center;
    margin: 40px 0 60px 0;
}

.victoryMsg .exit {
    background: #f5f5f5;
    float: right;
    border-radius: 50%;
    padding: 3px 7px;
}

.victoryMsg .resetButton {
    background: #f5f5f5;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    padding: 20px 40px;
}

.disc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* MEDIA QUERIES */

@media screen and (min-width: 800px) {
    header h1 {
        font-size: 72px;
    }
    
    #towers {
        flex-direction: row;
    }

    .victoryMsg {
        width: 65%;
        margin-top: 75px;
    }
}



@keyframes gradient {
    0% { background: linear-gradient(90deg, purple 0%, violet 100%) }
    10% { background: linear-gradient(90deg, violet 0%, red 100%) }
    20% { background: linear-gradient(90deg, red 0%, orange 100%) }
    30% { background: linear-gradient(90deg, orange 0%, yellow 100%) }
    37% { background: linear-gradient(90deg, yellow 0%, green 100%) }
    44% { background: linear-gradient(90deg, green 0%, blue 100%) }
    50% { background: linear-gradient(90deg, blue 0%, purple 100%) }
    60% { background: linear-gradient(90deg, purple 0%, violet 100%) }
    70% { background: linear-gradient(90deg, violet 0%, red 100%) }
    80% { background: linear-gradient(90deg, red 0%, orange 100%) }
    87% { background: linear-gradient(90deg, orange 0%, yellow 100%) }
    94% { background: linear-gradient(90deg, yellow 0%, green 100%) }
    100% { background: linear-gradient(90deg, green 0%, blue 100%) }
}
