body {
    margin: 0 auto;
    font-family: sans-serif;
    width: 900px;
}

header h1 {
    font-family: 'Macondo', cursive;
    font-size: 70px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

#dif {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#difficulty {
    margin: 15px;
    width: 50px;
}

#dif button {
    margin-bottom: 15px;
}

#current {
    margin: 15px;
    display: none;
    align-items: center;
}

#towers {
    display: flex;
}

#tower1, #tower2, #tower3{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid black;
    margin: 0 5px;
    width: 250px;
    height: 250px;
}

.stick1, .stick2, .stick3 {
    background-color: black;
    width: 7px;
    position: absolute;
    z-index: -1;
}

.victoryMsg {
    position: absolute;
    z-index: 1;
    background-color: gray;
    height: 40%;
    width: 80%;
    margin-top: 100px;
    border-radius: 50px;
    border: solid 2px black;
    padding: 15px;
}

.victoryMsg p {
    font-family: 'Macondo', cursive;
    font-size: 25px;
    text-align: center;
    margin: 40px 0 60px 0;
}

.victoryMsg .exit {
    float: right;
    border-radius: 50%;
    padding: 3px 7px;
}

.victoryMsg .resetButton {
    background-color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    padding: 20px 40px;
}

.disc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 800px) {
    .victoryMsg {
        width: 65%;
    }
}